@use "../../scss/variaveis";

.containerNewsList {
  background-color: #fff;
  margin-bottom: 2rem;

  width: 100%;

  &__title {
    font-family: variaveis.$Font-Playfair;
    font-size: 3rem;
    text-align: left;
    font-weight: 700;
    letter-spacing: -0.9px;
    line-height: 51.84px;
    word-spacing: 0px;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-family: variaveis.$Font-OpenSans;
    font-size: 1rem;
    letter-spacing: -0.02rem;
    line-height: 1.25rem;
    text-decoration: none solid rgb(85, 85, 85);
    word-spacing: 0px;
    color: #555;
  }
}
