.containerEmphasis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.news:first-child {
  grid-row: 1 / 3;
}

.containerEmphasis:not(:first-child) {
  display: block;
  grid-column: 2;
}

.containerApp {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
